@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Urbanist", sans-serif;
    background-color: #EAECED
}
@layer components {
  .gradient-text {
    @apply bg-linear-to-r from-[#165CB8] to-[#FFB044] bg-clip-text text-transparent;
  }
  .gradient-background{
    @apply bg-linear-to-r from-[#165CB8] to-[#FFB044] text-white;
  }
}

